
body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #d5d5d5;
}
a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}
.diamond, .emerald, .ruby {
  width: 250px;
  height: 350px;
  margin: 10px;
  opacity: 0.8;
}
.diamond:hover, .emerald:hover, .ruby:hover{
  opacity: 1;
}

.diamond {
  background-image: url('diamond.svg');
}

.emerald {
  background-image: url('emerald.svg');
}
.ruby {
  background-image: url('ruby.svg');
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.container {
  width: 100%;
}
.logo{
  background-image: url('logo.png');
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 150px;
  opacity: 0.8;
}
